.main {
    margin-left: 20px;
}

.container {
    margin-left: -5px;
}

.itemsContainer {
    padding: 5px;
    width: 190px;
    color: blue;
    background-color: #fff;
    display: flex;
    justify-content: space-between;

    border-radius: 5px;
    box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}