.divForAll{
    margin-left: 10px;
    border:1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    background-color: #FFAA00;
}
.divForButton {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;

}
.divForAffair{
    display: flex;
    justify-content: space-between;
    color: #8a2be2;
}
