.blue {
    border-bottom: 4px solid blue;
}

.column {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}

.testSpanError {
    color: blue;
}